@page {
  margin: 1.5cm;
}

#title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article {
  width: calc(var(--page-width) - 3cm);
  height: calc(var(--page-height) - 3cm);
  display: grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1mm;
}

section:first-child {
  grid-column: span 2;
}

ul {
  font-size: 1.5rem;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
}
p {
  font-size: 1.5rem;
  margin: 0;
}

.graph-container {
  img {
  }
}

table {
  padding: 0;
  font-size: 0.75rem;
  border-collapse: collapse;
  width: 100%;
  thead {
    background-color: #22a;
    color: white;
  }
  th, td {
    padding: 0.5rem;
    border: 1px solid white;
  }
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
}
blockquote {
  font-style: italic;
}
