@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(FiraSans-Regular.ttf);
}

:root {
  --margin: 1cm;
  font-family: Fira Sans;
}
@page {
  margin: var(--margin);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 180mm;
}

section {
  flex: 1;
  column-count: 2;
  column-gap: 1rem;
  width: calc(var(--page-width) - var(--margin) - var(--margin));
  height: calc(var(--page-height) - var(--margin) - var(--margin));
  column-fill: auto;

  * {
    break-inside: avoid;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 200px;
  height: 200px;
}

.graph-container {
  img {
    width: 100%;
    height: auto;
  }
}

pre {
  white-space: pre-wrap;
}

blockquote {
  font-style: italic;
  margin-top: auto;
}
blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: close-quote;
}
