#title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(var(--page-height) - 4cm);
}

pre {
  display: block;
  margin: auto;
  max-width: 80%;
  background-color: rgba(0,0,0,0.1);
  text-align: left;
  padding: 1rem;
}
